---
import Header from '@components/Header.astro';
import ListingSection from '@features/blog/components/ListingSection.astro';
import type { Frontmatter } from '@interfaces/Frontmatter';
import BaseLayout from '@layouts/BaseLayout.astro';
import getMostRecentDate from 'src/helpers/getMostRecentDate';
import getPostsByCategory from 'src/helpers/getPostsByCategory';
import getSchemaBlogListing from 'src/helpers/getSchemaBlogListing';

const posts = await Astro.glob('../../../content/*.mdx');
const mostRecentDate = getMostRecentDate(posts);
/* SEO */
const title =
  "Liste d'articles sur le développement informatique écrit par Johan Petrikovsky";
const description =
  "Des articles et des informations pour les développeurs Frontend qui veulent suivre l'actualité";
const schema = getSchemaBlogListing(mostRecentDate);
const frontmatters = posts.map((post) => post.frontmatter) as Frontmatter[];
const categoriesPosts = getPostsByCategory(frontmatters);
---

<BaseLayout
  title={title}
  description={description}
  schema={schema}
  hasGradient={true}
>
  <Header slot="before-main" />

  <div slot="main" class="max-w-5xl mx-auto relative z-10 px-4 lg:px-0">
    <h1 class="font-semibold text-purple-900 mt-10 mb-6 text-4xl">Articles</h1>
    {
      categoriesPosts.map((categoryPosts) => (
        <ListingSection categoryPosts={categoryPosts} />
      ))
    }
  </div>
</BaseLayout>
