---
import Header from '@components/Header.astro';
import ListingSection from '@features/blog/components/ListingSection.astro';
import type { SanityAllPost } from '@features/blog/interfaces/SanityAllPost';
import { queryAllPosts } from '@features/blog/queries/queryAllPosts';
import fetchSanity from '@helpers/fetchSanity';
import BaseLayout from '@layouts/BaseLayout.astro';
import getMostRecentDate from 'src/helpers/getMostRecentDate';
import getPostsByCategory from 'src/helpers/getPostsByCategory';
import getSchemaBlogListing from 'src/helpers/getSchemaBlogListing';

const posts = await fetchSanity<SanityAllPost>(queryAllPosts);
if (!posts) return;
const mostRecentDate = getMostRecentDate(posts.allPost);

/* SEO */
const title =
  "Liste d'articles sur le développement informatique écrit par Johan Petrikovsky";
const description =
  "Des articles et des informations pour les développeurs Frontend qui veulent suivre l'actualité";
const schema = getSchemaBlogListing(mostRecentDate);

const postsNoDefinitions = posts
  ? posts.allPost.filter((post) => post.type !== 'definition')
  : [];

const categoriesPosts = getPostsByCategory(postsNoDefinitions);
---

<BaseLayout
  title={title}
  description={description}
  schema={schema}
  hasGradient={true}
>
  <Header slot="before-main" />
  <div slot="main" class="wrapper">
    <h1 class="font-semibold text-purple-900 mt-10 mb-6 text-4xl">Articles</h1>
    {
      categoriesPosts.map((categoryPosts) => (
        <ListingSection categoryPosts={categoryPosts} />
      ))
    }
  </div>
</BaseLayout>

<style lang="scss">
  .wrapper {
    @apply mx-auto lg:px-0 max-w-5xl px-4 relative z-10;
  }
</style>
