---
import '@assets/style/global.css';
import type { Graph, WithContext } from 'schema-dts';
import type { BlogPosting } from 'schema-dts';
import Footer from '@components/Footer';
import Favicons from '@components/Favicons.astro';
import { seoConfig } from '../config';

interface Props {
  title: string;
  description: string;
  canonical: string;
  schema?: WithContext<BlogPosting> | Graph;
  hasGradient?: boolean;
  image?: string;
}

const { title, schema, description, hasGradient, image, canonical } =
  Astro.props as Props;
---

<script>
  //@ts-ignore
  import Swup from 'swup';
  //@ts-ignore
  import SwupHeadPlugin from '@swup/head-plugin';
  //@ts-ignore
  import SwupScrollPlugin from '@swup/scroll-plugin';

  new Swup({
    //@ts-ignore
    plugins: [new SwupHeadPlugin(), SwupScrollPlugin()],
  });
</script>

<meta charset="utf-8" />
<meta
  name="google-site-verification"
  content="hYnFEHeU0yp9Wsa8c3QfTnVFqMAuCsAk-y6qF0A_XjQ"
/>
<meta property="og:locale" content="fr_FR" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="description" content={description} />
<meta
  name="google-site-verification"
  content="hYnFEHeU0yp9Wsa8c3QfTnVFqMAuCsAk-y6qF0A_XjQ"
/>
{image && <meta property="og:image" content={image} />}
{
  schema && (
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
  )
}
<Favicons />
<script is:inline src="/registerSW.js"></script>
{
  canonical && (
    <link rel="canonical" href={`${seoConfig.baseURL}${canonical}`} />
  )
}
<link rel="manifest" href="/manifest.webmanifest" />
<meta name="theme-color" content="#4f39fa" />

<script
  type="text/partytown"
  src="https://unpkg.com/@tinybirdco/flock.js"
  data-host="https://api.tinybird.co"
  data-token="p.eyJ1IjogImFhNGYyNzMzLTQ5MWUtNDA2ZS1iYjVmLTI3NzUzYjRhMjk2OCIsICJpZCI6ICI1ZGY0MmYxOC0zNDQyLTRkZmUtOGUxMC05NzZkM2I1OTY4MTkifQ.yV405Lc-YqoXf4lwD63SZ2fifVmKMLvsMNdoKFQqOGE"
></script>
<div id="swup" class="grid-layout transition-fade">
  <slot name="before-main" />
  <main>
    <slot name="main" />
  </main>
  {
    Astro.url.pathname === '/' ? (
      <Footer client:visible />
    ) : (
      // <Footer client:only="react" />
      <Footer client:visible />
    )
  }
</div>

<style is:global>
  .transition-fade {
    transition: 0.25s;
    opacity: 1;
  }

  html.is-animating .transition-fade {
    opacity: 0;
  }

  body {
    overflow-x: hidden;
  }

  .grid-layout {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }

  .conteneur {
    @apply mx-2 md:mx-auto;
  }
</style>
