---
import '@assets/style/global.css'
import type {Graph, WithContext} from 'schema-dts';
import type {BlogPosting} from 'schema-dts';

interface Props {
  title: string;
  description: string;
  schema: WithContext<BlogPosting> | Graph;
}

const { title, schema, description } = Astro.props as Props;
---
<html lang="fr-FR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={description} />
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
	</head>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{title}</title>
  </head>
  <body class="bg-gradient-to-b bg-fixed min-h-screen  via-purple-100 from-pink-100 to-indigo-50">
    <!-- 2. Rendered HTML will be passed into the default slot. -->
    <slot />
  </body>
</html>